wikipedia
langchain
langchain-core 
langchain-community 
langchain-groq 
langchain-huggingface 
sentence-transformers 
python-dotenv 
duckduckgo-search  
numexpr
chromadb
langchain-chroma
langchainhub
langsmith